/* CSS for Personal Profile */

* {
    font-family: 'Roboto', Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    height: 100%; width: 100%;
    margin: 0;
    background-color: #e1eeea;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.spaceBetween {
    justify-content: space-between;
}
.spaceAround {
    justify-content: space-around;
}
.spaceCenter {
    justify-content: center;
}
.alignCenter {
    align-items: center;
}
.textCenter {
    text-align: center;
}

/* Custom Configurations */
.initials {
    margin-right: 1rem;
}
.initials:hover {
    color: rgb(213, 212, 212);
}
.nav {
    color: white;
    padding-top: 1rem;
}
.bgImage1 {
    background-image: linear-gradient(#0d706b8d, #063a37e5),url(images/crop1.jpg);
    background-position: center;
    margin: 0;
    background-size: cover;
    min-height: 30rem;
  }
.navAnchor {
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.navAnchor:hover {
    color: rgb(213, 212, 212);
}
.heroPicContainer {
    max-width: 20rem;
    margin-right: 4rem;
}
.heroPicContainer img {
    width: 100%;
    border-radius: 50%;
    filter: grayscale(50%);
}
.introduction {
    max-width: 44rem;
    min-width: 30rem;
}
.introduction h1 { 
    font-size: 300%; 
    font-weight: normal; 
    padding-bottom: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(165, 165, 165);
}
.icon {
    font-size: 200%;
    margin-right: 1rem;
    color: white;
}
.icon2 {
    font-size: 200%;
    margin-right: 1rem;
    color: rgb(17, 111, 88);
}
.skillWrapper {
    margin: 2rem 10% 2rem 10%;
}
.skillWrapper h2 {
    font-size: 230%;
    margin-bottom: 1rem;
}
.skillWrapper h3 {
    font-size: 170%;
    font-weight: normal;
    margin-top: 0.3rem;
    margin-bottom: 0;
}
.skillWrapper li {
    line-height: 1.7rem;
}
.skillWrapper a {
    font-size: 110%;
    padding: .5rem;
    background-color: rgb(114, 190, 176);
    color: white;
    border-radius: 4px;
    border: none;
    text-decoration: none;
}
.skillWrapper a:hover {
    color: rgb(56, 137, 81);
    transition: .2s;
}
.languageWrapper {
    display: flex;
}
.experienceContainer {
    margin: 0 2rem;
}
.projectWrapper {
    margin: 0rem 10% 0rem 10%;
}
.projectWrapper h2 {
    font-size: 230%;
    margin-bottom: 1rem;
}
.projectContainer  div{
    width: 18rem;
    height: 13rem;
    background-color: lightgrey;
}
.footer {
    text-align: center;
    margin: 2.5rem 10% 0rem 10%;
    height: 18rem;
}
.footer h1 {
    font-size: 240%;
    font-weight: normal;
    margin-bottom: 1rem;
}
/* End of Custom Configurations */

/* Margin / Padding Section */
.marginLeft1 {
    margin-left: 4%;
}
.marginRight1 {
    margin-right: 10%;
}
.marginRight2 {
    margin-right: 3rem;
}
.margin1 {
    margin: 2rem;
}
.margin2 {
    margin: 2rem 2rem 2rem 0rem;
}
.margin3 {
    margin: 2rem 2rem 0 2rem;
}
.margin4 {
    margin: 0 2rem;
}
.padding1 {
    padding: 2rem;
}
.padding2 {
    padding: 2rem 0rem;
}
.maxWidth1 {
    max-width: 27rem;
}
.maxWidth2 {
    max-width: 80rem;
}


/* Mobile Navigation */
.dropDownContainer {
    display: none;
    position: relative;
    margin: 1rem;
}
.dropbtn {
    font-size: 200%;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
}
.dropDownContent {
    position: static;
    height: 0rem;
    width: 80%;
    z-index: 1;
    /* right: 0;
    top: 1; */
    /* background-color: white; */
    margin: 0;
    padding: 0;
    transition: 0.5s;
    /* border-radius: 0rem 1rem 1rem 0rem; */
}
.dropDownContent a {
    display: none;
    font-size: 150%;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem 1rem 10%;
    transition: 0.5s;
}
.dropDownContent a:hover {
    color: rgb(199, 198, 198);
    transition: 0.4s;
}
.show {
    height: 17rem;
}
.show a {
    display: block;
}


    
/* Media Queries */
@media (max-width: 875px) {
    .intro-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

@media (max-width: 825px) {
    .heroWrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .heroPicContainer {
        margin: 0;
        max-width: 15rem;
    }
    .introduction {
        min-width: 0;
    }
  }

@media (max-width: 920px) {
    .languageWrapper {
      flex-direction: column;
    }
    .experienceContainer {
        margin: 0;
    }
  }

@media only screen and (max-width: 750px) {
    .standardNav {
        display: none;
    }
    .dropDownContainer {
        display: block;
    }
    .mobile {
        justify-content: space-between;
    }
}